appdirs==1.4.4
autopep8==1.5.3       
beautifulsoup4==4.9.1 
bs4==0.0.1
certifi==2020.4.5.1   
chardet==3.0.4        
click==7.1.2
cycler==0.10.0        
distlib==0.3.0        
filelock==3.0.12      
Flask==1.1.2
Flask-Cors==3.0.8     
idna==2.9
itsdangerous==1.1.0   
Jinja2==2.11.3        
kiwisolver==1.2.0     
MarkupSafe==1.1.1     
matplotlib==3.2.1     
numpy==1.18.4
panda==0.3.1
pandas==1.0.3
pycodestyle==2.6.0    
pymongo==3.10.1       
pyparsing==2.4.7      
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0      
six==1.15.0
soupsieve==2.0.1      
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.21
Werkzeug==1.0.1
wincertstore==0.2